* {
  padding: 0;
  margin: 0;
}

hr {
  color: #ededed;
  border-style: solid;
  border-width: 1px;
  margin: 0 18px 0 26px;
}
a:link{
    text-decoration: none;
}

.custom-body {
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-login {
  text-align: center;
  margin-top: 49px;
}

.intro {
  text-align: center;
  color: #ffffff;
  font-family: "Lato";
  margin-top: 22px;
  margin-bottom: 48px;
  font-size: 22px;
}

.form-box {
  background-color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  height: 400px;
  box-shadow: #013436 3px 4px;
  align-items: center;
}

input.btn.btn-secondary {
  background-color: #013436;
  border-radius: 25px;
  align-items: center;
  width: 140px;
  height: 50px;
}

#icon-user {
  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

#icon-pass {
  background-image: url("img/icon-pass.svg");
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

@media screen and (max-width: 750px) {
  .form-content {
    flex-wrap: wrap;
  }
}

input.form-control {
  width: 300px;
  height: 50px;
  background-color: #e5e5e5;
  font-size: 14px;
  color: #013436;
  border-radius: 25px;
}

.submit {
  text-align: center;
}

.header {
  width: 100vw;
  height: 150px;
  background-color: #00595c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foto-user {
  margin-top: 150px;
  margin-left: 69px;
}

.logo-page {
  margin-right: 69px;
}
.user-name > h1 {
  color: #ffffff;
  font-family: "Lato";
  font-size: 30px;
  letter-spacing: 8px;
  margin-top: 120px;
  line-height: 70px;
}

.user-name > h3 {
  color: #013436;
  font-family: "Lato";
  font-size: 25px;
  letter-spacing: 2px;
}

.user-perfil > h1 {
  color: #ffffff;
  font-family: "Lato";
  font-size: 30px;
  letter-spacing: 8px;
  margin-top: 155px;
  line-height: 70px;
  margin-left: 1vw;
}

.user-perfil > h3 {
  color: #013436;
  font-family: "Lato";
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 1vw;
  margin-top: -3px;
}


.user-perfil > h5{
  color: #013436;
  font-family: "Lato";
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 1vw;
  text-decoration: overline;
  text-decoration-color: #C9C9C9;
}



.section {
  height: auto;
  max-width: 1190px;
  margin: 0px auto;
}

.box-phases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  float: left;
}

.game > h2 {
  margin-top: 130px;
  color: #00595c;
  font-family: "Lato";
  font-size: 24px;
  letter-spacing: 2px;
}

.game > p {
  color: #3E4748;
  font-family: "Abel";
  font-size: 20px;
}

.descricao{
  margin-top: 130px
}

.descricao > h2 {
  margin-top: 75px;
  color: #00595c;
  font-family: "Lato";
  font-size: 24px;
  letter-spacing: 2px;
}

.descricao > p {
  color: #3E4748;
  font-family: "Abel";
  font-size: 20px;
}

.box-quiz {
  margin-top: 20px;
  background-color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  max-width: 265px;
  height: 173px;
  border: solid 1px #d9d9d9;
  box-shadow: 1px 1px #d9d9d9;
  border-radius: 7px;
  text-align: left;
}

.box-quiz:hover {
  box-shadow: 3px 3px 3px 3px #cccccc;
}

.box-quiz3:hover {
  box-shadow: 3px 3px 3px 3px #cccccc;
}

.adjust {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.text-box > h4 {
  font-size: 33px;
  color: #00595c;
}

.box-quiz > p {
  font-size: 18px;
  color: #013436;
  font-family: "Abel";
  margin-left: 20px;
  margin-top: 10px;
}

.padlock-img {
  width: 65px;
  height: 69px;
}

.box-quiz2 {
  margin-top: 20px;
  background-color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  max-width: 265px;
  height: 173px;
  border: solid 1px #d9d9d9;
  box-shadow: 1px 1px #d9d9d9;
  border-radius: 7px;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 30px;
}

.box-quiz3 {
  margin-top: 20px;
  background-color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  max-width: 265px;
  height: 173px;
  border: solid 1px #d9d9d9;
  box-shadow: 1px 1px #d9d9d9;
  border-radius: 7px;
  text-align: left;
  margin-bottom: 30px;
}

.box-medal{
  margin: 10px;
  display: inline;
  justify-content: center;
}

.text-box2 > h4 {
  font-size: 33px;
  color: #999999;
}

.box-quiz2 > p {
  font-size: 18px;
  color: #999999;
  font-family: "Abel";
  margin-left: 20px;
  margin-top: 10px;
}

.box-quiz3 > p {
  font-size: 18px;
  color: #013436;
  font-family: "Abel";
  margin-left: 20px;
  margin-top: 10px;
}


.box-ran {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  width: 265px;
  height: 392px;
  border: solid 1px #d9d9d9;
  box-shadow: 0px 3px #d9d9d9;
  border-radius: 14.7px;
  position: relative;
  float: right;
}
.nome-rank {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.circulo {
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: #007f83;
  border-radius: 50%;
  font-family: "Lato";
  font-size: 18px;
  margin: 15px;
}

.box-ran > h1 {
  margin-top: 30px;
  font-family: "Lato";
  font-size: 28px;
  color: #013436;
}

.box-ran > h5 {
  font-family: "Abel";
  font-size: 16px;
  color: #013436;
  max-width: 158px;
  margin: 20px auto;
}

.number-rank {
  font-family: "Lato";
  font-size: 18px;
  color: #1fb5be;
  font-weight: 900;
  margin: 10px 10px 10px 25px;
}

.names > p {
  font-family: "Abel";
  font-size: 20px;
  color: #013436;
  margin-right: 5px;
}

.faixa{
  background: linear-gradient(to right, #0e3737 10%, #14605e 50%, #29AFAD 100%);
  margin: 30px 0 50px;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,.2);
	clear: both;
}

.faixa > h2{
  font-size: 43px;
  color: #ffffff;
  font-family: "Abel";
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  letter-spacing: 1px;
}

div.corpo_faixa{
	text-align: center;
	color: #000;
	padding: 10px 9px 10px 10px;
	width: 100%;
	margin-left: -10px;
}
 
div.corpo_faixa::before{
  display: block;
  width: 10px;
  height: 0px;
  position: absolute;
  bottom: 83px;
  left: -5px;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0E3737;
  transform: rotate(90deg);
}
 
div.corpo_faixa::after{
  display: block;
  width: 10px;
  height: 0px;
  position: absolute;
  bottom: 83px;
  right: -5px;
  content: "";
  border-bottom: 10px solid transparent;
  border-left: 10px solid #707070;
  transform: rotate(270deg);
}

.box-points{
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  width: 265px;
  height: 460px;
  border: solid 1px #d9d9d9;
  box-shadow: 0px 3px #d9d9d9;
  border-radius: 14.7px;
  position: relative;
  float: right;
  border-top: solid 5px #0e3737
}

.circulo {
  height: 70px;
  width: 70px;
  background-color: #1FB5BE;
  position: absolute;
  text-align: center;
  margin-top: 9vw;
  margin-left: 120px;
}

.circulo > h2{
  font-family: "Lato";
  font-size: 30px;
  color: white;
  margin: 15px 2vw;
  z-index: 2;
}

.imagem_prefil{
  position: absolute;
    text-align: center;
    margin-top: 12vw;
    margin-left: 104px;
    z-index: 3;
}

.box-points > h5{
  font-family: "Lato";
  font-size: 17px;
  color: #013436;
  max-width: 240px;
  margin: 17px;
  text-align: left;
  letter-spacing: 1px;
}

.box-points > h2 {
  font-family: "Abel";
  font-size: 43px;
  color: #00595C;
  max-width: 235px;
  margin: 10px 1vw;
  text-align: left;
}

.footer {
  position: relative;
  clear: both;
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #00595c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  font-family: "Lato";
  font-size: 12px;
}

.footer-img > img {
  width: 68px;
  height: 32px;
  margin-right: 31px;
}

.footer-text {
  margin-left: 26px;
}

.grid {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
 
.grid h1 {
    font-family: "Lato";
    font-size: 60px;
    text-align: center;
    color: #00595C;
}

 
#score {
    font-family: "Lato";
    font-size: 60px;
    text-align: center;
    color: #00595C;
}
 
.grid #question {
    font-family: "Lato";
    font-size: 40px;
    color: #00595C;
}
 
.buttons {
    margin-top: 30px;
    text-align: center;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #00595C;
    width: 250px;
    font-size: 30px;
    font-family: 'Lato';
    color: #fff;
    border: 1px solid#00595C;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #1FB5BE;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {

    color: #3E4748;
  font-family: "Abel";
    font-size: 25px;
    text-align: center;
    margin: 50px 0 50px 0;
}

#credito{
    color: #3E4748;
  font-family: "Abel";
    font-size: 25px;
    text-align: center;
    margin: 50px 0 50px 0;

}


@media screen and (max-width: 1300px) {
  .circulo {
    margin-top: 120px;
  }

  .imagem_prefil{
    margin-top: 14vw;
    margin-left: 105px;
  }
}


@media screen and (max-width: 1115px) {
  .imagem_prefil{
    margin-top: 15vw;
  }
}

@media screen and (max-width: 1035px) {
  .imagem_prefil{
    margin-top: 16vw;
  }
}

@media screen and (max-width: 1000px) {
  .imagem_prefil{
    margin-top: 164px;
  }
}
